* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

body {
  font-family: "Press Start 2P", cursive;
  padding: 0 80px;
  height: 100vh;
  background-color: black;
  color: black;
  text-align: center;
}

header {
  color: #e8e8e8;
  padding: 50px;
}

.main {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.icon {
  width: 200px;
}

.inputdiv {
  float: left;
}

input {
  font-family: "Press Start 2P", cursive;
  padding: 10px;
  border-radius: 5px;
}

.win {
  background-color: #59886b;
}
